---

---

<header>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
    </nav>
</header>
<style>
    header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: end;
        background-color: #33333396;
        box-shadow: 0px 1px 2px #333;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: center;
        width: max-content%;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: white;
        font-weight: 400;
        text-decoration: none;
        padding: 0.5rem 1rem;
        transition: all 0.25s;
    }

    a:hover {
        color: #333;
        background-color: #ccc;
        box-shadow: 0px 1px 3px #333 inset;
    }
</style>
